#right{
  height: 350px;
}

.map{
  height: 350px;
}

/*----- para pintar bordes -----*/
/*.elemento_nivel1{
  border: 1px solid black;
}

.elemento_nivel2{
  border: 1px solid red;
}

.elemento_nivel3{
  border: 1px solid yellow;
}

.elemento_nivel4{
  border: 1px solid green;
}

.elemento_nivel5{
  border: 1px solid blue;
}*/